@font-face {
  font-family: "druk";
  font-display: swap;
  font-style: normal;
  src: url("./DrukWide-Heavy-Web.woff2") format("woff2"),
       url("./DrukWide-Heavy-Web.woff") format("woff");
}

.section {
  height: 100vw;
  position: relative;
  /* max-height: 60rem; */
}

.canvas {
  max-width: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: druk;
}
